/*
 *
 * Header
 *
 */
form div {
  display: inline-block;
}
header {
  height: 100vh;
}
.hidden {
  display: none;
}


/*
 *
 * Pairing Ingredients
 *
 */
.ingredientCard {
  width: 12em;
  margin: 1px;
}

.ingredientCard img {
  height: 100px;
  width: 100px;
}

/*
 *
 * Recipes
 *
 */
.recipeCard {
  width: 16em;
  margin: 1px;
}

/*
 *
 * Footer
 *
 */
footer {
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
