/*
 *
 * Nav
 *
 */
 .navbar {
   background: #004056;
 }

/*
 *
 * Header
 *
 */
form div {
  display: inline-block;
}
header  {
  height: 100vh;
  background-image: url(../images/splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hidden {
  display: none;
}

/*
 *
 * Body
 *
 */
body {
  background: rgb(225, 243, 240);
}


/*
 *
 * Pairing Ingredients
 *
 */

.ingredientCard {
  width: 12em;
  margin: 5px;
}

.ingredientCard img {
  height: 100px;
  width: 100px;
}

.navBarFix {
  padding-top: 61px;
}

#pairIngredientsDiv {
  background-image: url(../images/ingredients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pairIngredientsDiv h2 {
  color: #FFFFCB;
  font-family: Chapaza, serif;
}
/*
 *
 * Recipes
 *
 */
.recipeCard {
  width: 16em;
  margin: 13px;
}
.card-success {
  background: #2C858D;
  border-color: #2C858D;
}

.card-header {
  background: #74CEB7;
}

#recipeDiv1 {
  background-image: url(../images/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#recipeDiv2 {
  background-image: url(../images/recipe4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#recipeList1 img, #recipeList2 img{
  max-width: 254px;
  max-height: 169px;
}
/*
 *
 * Footer
 *
 */
footer {
  height: 60px;
  line-height: 60px;
  background-color: #004056;
  color: rgba(255,255,255,.5)
}

/*
 *
 * Modals
 *
 */

iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 1000px;
  }
}

.modal-content {
  background: rgb(225, 243, 240);
}
 /*
  *
  * Button recolor
  *
  */
.btn-outline-success {
  color: #2C858D;
  border-color: #2C858D;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .show > .btn-outline-success.dropdown-toggle, .btn-outline-success.focus{
  background: #2C858D;
  border-color: #2C858D;
  color: #FFFFCB;
}
.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
          box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
}


.btn-success {
  color: #FFFFCB;
  background: #2C858D;
  border-color: #2C858D;
}

.btn-success:hover {
  color: #FFFFCB;
  background-color: #247178;
  border-color: #317278;
}

.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
          box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5)
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #2C858D;
  border-color: #2C858D;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #FFFFCB;
  background-color: #247178;
  background-image: none;
  border-color: #317278;
}

.card-block a:focus, .card-block a:hover {
  color: #cdcd90;
}

/*
 *
 * Fonts
 *
 */
@font-face {
  font-family: Biko;
  src: url(../fonts/Biko_Regular.otf);
}
@font-face {
  font-family: Chapaza;
  src: url(../fonts/Chapaza.ttf);
}

nav, select, button, footer, #pairIngredients, #recipeList1, #recipeList2 {
  font-family: Biko, sans-serif;
}

/*
 *
 * Mobile
 *
 */
@media screen and (max-device-width: 480px) {
  #recipeDiv1, #recipeDiv2, #pairIngredientsDiv {
    background-image: none;
  }
  .drinkToPairing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
