/*
 *
 * Nav
 *
 */

.navbar {
  background: #004056;
}


/*
 *
 * Header
 *
 */

select {
  margin-bottom: 8px;
  min-width: 204px;
}

header {
  height: 100vh;
  background-image: url(../images/splash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#drinkChoice {
  max-width: 160px;
}

#drinkBtn {
  min-width: 204px;
}


/*
 *
 * Body
 *
 */

body {
  background: #e1f4f0;
}

a, a:visited {
  color: #FFFFCB;
}

a:hover {
  color: #cdcd90;
  text-decoration: none;
}


/*
 *
 * Pairing Ingredients
 *
 */

.ingredientCard {
  width: 12em;
  margin: 5px;
}

.ingredientCard img {
  height: 100px;
  width: 100px;
}

.navBarFix {
  padding-top: 61px;
}

#pairIngredientsDiv {
  background-image: url(../images/ingredients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#pairIngredientsDiv h2 {
  color: #FFFFCB;
  font-family: Biko, serif;
}

input {
  margin-bottom: 8px;
}

.ingredientDivs {
  display: inline-block;
  margin: 10px;
}


/*
 *
 * Recipes
 *
 */

.recipeCard {
  width: 16em;
  margin: 13px;
}

.card-success {
  background: #2C858D;
  border-color: #2C858D;
}

.card-header {
  background: #74CEB7;
}

#recipeDiv1 {
  background-image: url(../images/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#recipeDiv2 {
  background-image: url(../images/recipe4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#recipeList1 img, #recipeList2 img {
  max-width: 254px;
  max-height: 169px;
}


/*
 *
 * Footer
 *
 */

footer {
  height: 60px;
  line-height: 60px;
  background-color: #004056;
  color: rgba(255, 255, 255, .5)
}


/*
 *
 * Modals
 *
 */

iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}

.modal-content {
  background: rgba(224, 244, 239, 0.9);
}


/*
  *
  * About
  *
  */

#about {
  margin-top: 74px;
  background: rgba(224, 244, 239, 0.9);
  padding: 30px;
  padding-bottom: 15px;
  border-radius: 12px;
}

#aboutBody {
  height: 100vh;
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*
  *
  * Button recolor
  *
  */

.btn-outline-success {
  color: #2C858D;
  border-color: #2C858D;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .show>.btn-outline-success.dropdown-toggle, .btn-outline-success.focus {
  background: #2C858D;
  border-color: #2C858D;
  color: #FFFFCB;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
  box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
}

.btn-success {
  color: #FFFFCB;
  background: #2C858D;
  border-color: #2C858D;
}

.btn-success:hover {
  color: #FFFFCB;
  background-color: #247178;
  border-color: #317278;
}

.btn-success:focus, .btn-success.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5);
  box-shadow: 0 0 0 2px rgba(44, 133, 142, 0.5)
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #2C858D;
  border-color: #2C858D;
}

.btn-success:active, .btn-success.active, .show>.btn-success.dropdown-toggle {
  color: #FFFFCB;
  background-color: #247178;
  background-image: none;
  border-color: #317278;
}

.card-block a:focus, .card-block a:hover {
  color: #cdcd90;
}


/*
 *
 * Fonts
 *
 */

@font-face {
  font-family: Biko;
  src: url(../fonts/Biko_Regular.otf);
}

nav, select, button, footer, p, #pairIngredients, #recipeList1, #recipeList2 {
  font-family: Biko, sans-serif;
}


/*
 *
 * Mobile
 *
 */

@media (max-width: 480px) {
  #recipeDiv1, #recipeDiv2, #pairIngredientsDiv {
    background-image: none;
  }
  .drinkToPairing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ingredientToRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recipeBtn {
    min-width: 192px;
  }
  #pairIngredientsDiv h2 {
    color: #004056;
  }
  #mobileFooter {
    display: none;
  }
}

@media (max-width: 992px) {
  .drinkToPairing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/*
 *
 * Hide elements
 *
 */

.hidden {
  display: none;
}
